
.market-left img{
  display: block;
  margin: 0 auto;
}
.market-left-p{
  margin: 0px;
  font-size: 26px;
  font-weight: bold;
  color: #4AB5E6;
  text-align: center;
}
.market-form{
  width: 100%;
  max-width: 536px;
  border-radius: 4px;
  box-shadow: 0px 3px 6px  rgba( 0, 0, 0, 0.6);
  padding: 60px 33px 87px 50px;
  background-color: #fff;
}
.market-form-botoes{
  margin-top: 77px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 530px;
}

.market-form-botoes-login{
  width: 100%;
  max-width: 260px;
  height: 50px;
  color: #fff;
  border-radius: 4px;
  background-color: #4FC3F7;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.market-form-botoes-login:hover{
  background-color: #4AB5E6;
}
.market-form-botoes-cadastrar:hover{
  background-color: #4AB5E6;
  color: #fff;
}
.market-form-botoes-cadastrar{
  background-color: #4AB5E6;
  width: 100%;
  max-width: 260px;
  height: 50px;
  color: #4FC3F7;
  border: 1px solid #4FC3F7;
  border-radius: 4px;
  background-color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.market-mensagem{
  margin-top: 50px;
}
.market-mensagem1{
  text-align: center;
  font-weight: 300;
  font-size: 26px;
  margin-bottom: 5px;
}
.market-mensagem2{
  text-align: center;
  font-style: italic;
  font-weight: 300;
  font-size: 32px;
  margin-bottom: 0px;
  line-height: 1;
  color: #4AB5E6;
}
.market-mensagem2 span{
  font-size: 38px;
}
@media (max-width: 1023px) {
  .market-topo-entrar-page{
    margin: 18px auto;
  }
  .market-topo-entrar-link{
    font-size: 14px;
    padding: 7.5px 0px;
  }
  .market-form{
    margin: 0 auto;
    padding: 15px 19px 30px;
  }
  .market-form-label{
    font-size: 14px;
  }
  .market-form-botoes{
    margin: 20px auto 0;
  }
  .market-form-botoes-login,
  .market-form-botoes-cadastrar{
    height: 35px;
    font-size: 14px;
  }
  .market-mensagem{
    margin-top: 25px;
  }
  .market-form-box-login{
    margin-bottom: 15px;
  }
}
.market-form-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.market-form-inputMenor{
  width: 100%;
  max-width: 80px;
}
.market-form-input-medio{
  width: 100%;
  max-width: 175px;
}
.market-form-textArea{
  resize: none;
}
.market-form-boxCadastro,
.market-form-container{
  margin-bottom: 20px;
}
.market-form-cadastro{
  display: none;
}
[data-cadastrar]{
  display: none;
}
